#myname: Your Name Here
#intro: Your introduction text. Like "Salvia heirloom photo booth vegan pop-up beard, brunch VHS tote bag twee polaroid you probably haven't heard of them freegan church-key."
#workheader: Workheader!
#worksecondlineheader: This is your second line header
#leftboxtitle: This is title
#leftboxextratext: Extra one sentence to explain
#leftboxlink: wwww.yourdomain.com/portfolio
#middleboxtitle: An other title
#middleboxextratext: Explain it
#middleboxlink: www.yourdomain.com/projects
#rightboxtitle: Box title
#rightboxlink: www.yourdomain.com/something
#rightboxextratext: One line information
#portfolioheader: Portfolio!
#portfoliosecondlineheader: This is your second line header for portfolio